@use "../base/base" as *;

@mixin absoulte-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin on-mobile {
  @media (max-width: $md) {
    @content;
  }
}

@mixin on-monitor {
  @media (min-width: $md) {
    @content;
  }
}
