// body::-webkit-scrollbar {
//   display: none;
// }

$primary-color: #151515aa;
$primary-color-active: #151515;

$secondary-color: #eaeaeaaa;
$secondary-color-active: #eaeaea;

$navbar-height: 64px;
