@tailwind base;
@tailwind components;
@tailwind utilities;
.max-w-8xl {
  max-width: 92rem;
}

.navbar {
  position: fixed;
  transition: top 0.5s;
  background: white;
  width: 100vw;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar .button-mobile {
  padding: 0 0.5rem;
  cursor: default;
}
@media (min-width: theme("screens.sm")) {
  .navbar .button-mobile {
    display: none;
  }
}
.navbar .menu-panel--open {
  display: flex;
  flex-direction: row;
}
@media (max-width: theme("screens.sm")) {
  .navbar .menu-panel--open {
    position: absolute;
    left: 0%;
    top: 100%;
    background: #ffffff;
    height: calc(100vh - 64px);
    width: 100vw;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
  }
}
.navbar .menu-panel--close {
  display: flex;
  flex-direction: row;
}
@media (max-width: theme("screens.sm")) {
  .navbar .menu-panel--close {
    position: absolute;
    left: -100%;
    top: 100%;
    background: #ffffff;
    height: calc(100vh - 64px);
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: theme("screens.sm")) {
  .navbar .dropdown--menu-open {
    position: absolute;
    top: 88%;
    left: inherit;
    width: auto;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 1;
    border-radius: 8px;
    transition: opacity 0.5s ease;
  }
}
@media (max-width: theme("screens.sm")) {
  .navbar .dropdown--menu-close {
    display: block;
  }
}
@media (min-width: theme("screens.sm")) {
  .navbar .dropdown--menu-close {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
}
.navbar .dropdown--title {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 0 0.5rem;
  font-weight: 500;
  border-radius: 8px;
  color: rgba(21, 21, 21, 0.6666666667);
  cursor: default;
}
@media (max-width: theme("screens.sm")) {
  .navbar .dropdown--title {
    width: 100%;
    justify-content: start;
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    font-size: 1.15rem;
  }
}
@media (min-width: theme("screens.sm")) {
  .navbar .dropdown--title:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #151515;
    transition: all 0.5s;
  }
}
.navbar .dropdown--list {
  display: block;
  color: rgba(21, 21, 21, 0.6666666667);
  padding: 0.2rem;
}
@media (max-width: theme("screens.sm")) {
  .navbar .dropdown--list {
    font-size: 1.1rem;
    padding-left: 2rem;
  }
}
.navbar .dropdown--list:hover {
  color: #151515;
  transition: all 0.5s;
}

.footer .league-logo {
  max-height: 3.5rem;
}
.footer .institute-logo {
  max-height: 3rem;
}

.home-media {
  height: 100vh;
}
.home-media--panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 64px;
  background: #ffffff;
  z-index: 1;
}
.home-media--wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* disable controling */
  user-select: none;
  pointer-events: none;
}
.home-media--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 177.7777777778vh;
  height: 100vh;
  min-width: 100vw;
  min-height: 56.25vw;
  z-index: 1;
}

.committee__table-wrapper {
  width: 100%;
  overflow-x: scroll;
}
.committee__table-content {
  gap: 10rem;
}

/*# sourceMappingURL=main.css.map */
