@use "../base/base" as *;

.footer {
  margin-top: 5rem;

  .league-logo {
    &--wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    height: 52px;
  }

  .institute-logo {
    &--wrapper {
      display: flex;
      // flex-direction: column;
    }

    height: 34px;
  }

  .rcka-info {
    padding-top: 3rem;
    font-size: 14px;

    &--bold {
      font-weight: 600;
    }
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    @media (max-width: 900px) {
      flex-direction: column;
    }

    a {
      text-decoration: none;
    }

    .menu {
      &__group {
        display: block;
        margin: 1rem;

        &--nested {
          display: flex;
          flex-direction: row;
        }
      }

      &__header {
        display: block;
        font-weight: 500;
        padding-bottom: 5px;

        &--nested {
          display: block;
          font-weight: 400;
          padding: 5px 0;

          &--wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
          }
        }
      }

      &__item {
        display: block;
        padding: 5px 0;
        font-size: 14px;
        font-weight: 300;
        color: $black;
      }
    }
  }

  &__bottom {
    background-color: $black;
    padding: 4px 0 6px 0;
    height: auto;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: $white;

      @media (max-width: $sm) {
        flex-direction: column;
      }

      .fa.fa-github {
        color: $white;
        font-size: 18px;
      }

      div:last-child {
        font-size: 12px;
        font-weight: 200;
      }
    }
  }
}
