@use "../base/base" as *;

.footer {
  margin-top: 5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  .league__logo {
    &--wrapper {
      display: flex;
      flex-direction: column;
    }

    height: 70px;
  }

  .institute__logo {
    height: 40px;

    &--wrapper {
      display: flex;
      // flex-direction: column;
    }
  }

  &-nav {
    display: flex;

    .menu {
      &__header {
        display: block;
      }
      &__item {
        display: block;
      }
    }
  }

  &__bottom {
    background-color: $black;
    padding: 1px 0 3px 0;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: $white;

      @media (max-width: $sm) {
        flex-direction: column;
      }

      .fa.fa-github {
        color: $white;
      }

      div:last-child {
        font-size: 14px;
        font-weight: 200;
      }
    }
  }
}
