@use "../base/base" as *;
@use "../abstracts/mixins" as *;

.footer {
  margin-top: 5rem;
}

.footer__intro {
  margin-bottom: 1.2rem;

  .league-logo {
    height: 54px;
    margin-right: 5px;

    &--wrapper {
      display: flex;
      margin-right: calc(1vw);
    }
  }

  .logo--wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .league-description {
    max-width: 380px;
  }
}

.footer__nav {
  .menu__header {
    font-weight: 500;
    padding: 5px 0;
  }

  .nav-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    &:last-child {
      margin-bottom: 1.2rem;
    }

    @media (max-width: $lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
    }

    .menu__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // margin-top: auto;
    }

    .menu__header--nested {
      font-weight: 400;
      padding: 5px 0;
    }

    .menu__item {
      padding: 5px 0;
      font-size: 14px;
      font-weight: 300;
      color: $black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer__outro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  @media (max-width: $lg) {
    flex-direction: column;
    align-items: flex-end;
  }

  @include on-mobile {
    align-items: flex-start;
  }

  .institute-logo {
    height: 44px;

    @media (max-width: $lg) {
      order: 0;
    }

    &--wrapper {
      display: flex;
      justify-content: flex-end;

      @include on-mobile {
        flex-direction: column;
      }
      @include on-monitor {
        flex-direction: row;
      }
    }
  }

  .rcka-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    @media (max-width: $lg) {
      order: 1;
    }

    &--bold {
      font-weight: 600;
    }
  }
}

.footer__bottom {
  background-color: $black;
  padding: 4px 0 6px 0;
  height: auto;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $white;

    // @media (max-width: $sm) {
    //   flex-direction: column;
    // }

    .fa.fa-github {
      color: $white;
      font-size: 18px;
    }

    div:last-child {
      font-size: 12px;
      font-weight: 300;
    }
  }
}
