@use "../base/base" as *;
@use "../custom" as *;
@use "../abstracts/mixins" as *;

.navbar {
  position: sticky;
  transition: top 0.5s;
  background: white;
  width: 100vw;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  //   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.311);

  .mobile-button {
    padding: 0 0.5rem;
    cursor: default;

    @include on-monitor {
      display: none;
    }
  }

  &-menu-panel {
    display: flex;
    flex-direction: row;

    @include on-mobile {
      display: none;
    }

    &--active {
      @include on-mobile {
        position: absolute;
        left: 0%;
        top: 100%;
        background: $white;
        height: calc(100vh - $navbar-height);
        width: 100vw;

        display: flex;
        flex-direction: column;
      }
    }
  }

  // navbar-dropdown
  &-dropdown {
    &--toggle {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      padding: 0 0.5rem;
      font-weight: 500;
      cursor: default;
      border-radius: 8px;
      color: $primary-color;

      @include on-monitor {
        &:hover {
          background: rgba(0, 0, 0, 0.1);
          color: $primary-color-active;
          transition: background-color 0.5s;
        }
      }

      @include on-mobile {
        width: 100%;
        justify-content: start;
        font-size: 1.15rem;
      }
    }

    &--menu {
      display: none;
      color: $primary-color-active;

      &-active {
        @include on-monitor {
          position: absolute;
          top: 88%;
          left: inherit;
          width: auto;
          padding: 0.5rem;
          background-color: white;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 8px;
        }
      }

      @include on-mobile {
        display: block;
      }
    }

    &--list {
      display: block;

      @include on-mobile {
        font-size: 1.15rem;
        padding-left: 1rem;
      }
    }
  }
}
